TEAM_ID=

PRODUCT_NAME=HwanulTokTok
PRODUCT_BUNDLE_IDENTIFIER=net.ifmain.hwanultoktok.kmp.HwanulTokTok$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// API Keys - DO NOT COMMIT ACTUAL KEYS
KOREAEXIM_API_KEY=YOUR_API_KEY_HERE